/* GLOBAL STYLE */
*{
    // Box model
    margin: 0px;
    // Font
    font-family: sans-serif;
    font-size: 16px;
}

/* STYLE */
body{
    padding: 10px;
    background: whitesmoke;
}
.container{
    .article{
        // Title
        h1{
            // Font size
            font-weight: 900;
            font-size: 2rem;
            // Set it to center
            text-align: center;
            // Color
            color: rgb(5, 43, 71);
            // Distance
            margin: 1rem;
        }
        // Articles
        div{
            // Box model
            margin: auto;
            padding: 1rem;
            // Radius
            border: rgb(5, 43, 71) 1px solid;
            border-radius: 5px;
            // Width
            width: fit-content;          
            // Article title
            h2{
                font-weight: 800;
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }
            // Paragraph
            p{
                margin-bottom: 1rem;
                width: 700px;
                // Text style               
                line-height: 1.5rem;
                font-weight: 700; 
            }
            // Image
            img{
                height: 300px;
                aspect-ratio: 4 / 3;
                border-radius: 5px;
            }
        }
    }
}